@import url(./themes/tokyonight-night.css);

@-moz-document domain(www.youtube.com) {

/*******************/
/*    VARIABLES    */
/*******************/

    html, [dark] {
        --yt-spec-base-background: var(--background-colour) !important;
        --yt-spec-raised-background: var(--background-colour-darker) !important;
        --yt-spec-menu-background: var(--background-colour) !important;
        --yt-spec-inverted-background: var(--foreground-colour) !important;
        --yt-spec-additive-background: var(--background-colour-darker) !important;
        --yt-spec-outline: var(--background-colour-hover) !important;
        --yt-spec-text-primary: var(--foreground-colour) !important;
        --yt-spec-text-primary-inverse: var(--background-colour) !important;
        --yt-spec-text-secondary: var(--foreground-colour-darker) !important;
        --yt-spec-text-disabled: var(--background-colour-transparent) !important;
        --yt-spec-call-to-action: var(--blue-colour) !important;
        --yt-spec-suggested-action: var(--background-colour-darker) !important;
        --yt-spec-icon-active-other: var(--foreground-colour) !important;
        --yt-spec-icon-inactive: var(--foreground-colour) !important;
        --yt-spec-icon-disabled: var(--foreground-colour-darker) !important;
        --yt-spec-button-chip-background-hover: var(--background-colour-hover) !important;
        --yt-spec-touch-response: var(--foreground-colour) !important;
        --yt-spec-touch-response-inverse: var(--background-colour) !important;
        --yt-spec-brand-icon-active: var(--foreground-colour) !important;
        --yt-spec-brand-icon-inactive: var(--foreground-colour) !important;
        --yt-spec-wordmark-text: var(--foreground-colour) !important;
        --yt-spec-themed-blue: var(--blue-colour) !important;
        --yt-spec-static-brand-red: var(--blue-colour) !important;
        --yt-spec-static-brand-white: var(--foreground-colour) !important;
        --yt-spec-static-overlay-background-solid: var(--background-colour) !important;
        --yt-spec-static-overlay-background-heavy: var(--background-colour) !important;
        --yt-spec-static-overlay-background-medium: var(--background-colour) !important;
        --yt-spec-static-overlay-background-light: #0000 !important;
        --yt-spec-static-overlay-text-primary: var(--foreground-colour) !important;
        --yt-spec-static-overlay-text-secondary: var(--blue-colour) !important;
        --yt-spec-static-overlay-background-brand: var(--blue-colour) !important;
        --yt-spec-brand-background-solid: var(--background-colour) !important;
        --yt-spec-brand-background-primary: var(--background-colour) !important;
        --yt-spec-general-background-a: var(--background-colour) !important;
        --yt-spec-10-percent-layer: var(--background-colour-hover) !important;
        --yt-spec-badge-chip-background: var(--background-colour) !important;
        --ytd-searchbox-legacy-border-color: var(--background-colour-darker) !important;
        --ytd-searchbox-legacy-border-shadow-color: var(--background-colour-darker) !important;
        --ytd-searchbox-background: var(--background-colour-darker) !important;
        --ytd-searchbox-text-color: var(--foreground-colour) !important;
        --yt-live-chat-secondary-text-color: var(--foreground-colour-darker) !important;
        --yt-live-chat-vem-background-color: var(--background-colour-hover) !important;
        --yt-live-chat-text-input-field-placeholder-color: var(--foreground-colour-darker) !important;
        --yt-live-chat-banner-gradient-scrim: linear-gradient(var(--background-colour), transparent) !important;
        --yt-live-chat-author-chip-owner-background-color: var(--blue-colour) !important;
        --paper-tooltip-background: var(--background-colour) !important;
        --paper-tooltip-text-color: var(--foreground-colour) !important;
    }

/******************/
/*    FEATURES    */
/******************/

/*  Transparent thumbnails for viewed videos.  */
    ytd-compact-video-renderer,
    ytd-rich-item-renderer,
    ytd-grid-video-renderer {
        &:has(ytd-thumbnail-overlay-resume-playback-renderer) {
            opacity: 0.25 !important;

            &:hover {
                opacity: 1 !important;
            }
        }
    }

/*  Transparent background for media controls.  */
    .ytp-chrome-bottom {
        background-color: var(--background-colour-transparent) !important;
        text-shadow: none !important;
        box-shadow: 0 47px 0 50px var(--background-colour-transparent) !important;
    }

/******************/
/*    REMOVALS    */
/******************/

/*  In my testing, everything here works.
    However, YouTube doesn't always make it easy to select specific things.
    If you see anything that looks off, let me know on GitHub!  */

/*  Buttons  */
    #voice-search-button {
        display: none !important;
    }

    ytd-button-renderer [aria-label="Create"] {
        display: none !important;
    }

/*  Side Panel  */
    ytd-guide-entry-renderer:has(a[title="Your movies & TV"]) {
        display: none !important;
    }

    ytd-guide-section-renderer {
        /*  Explore  */
        &:has(a[title="Trending"]) {
            display: none !important;
        }

        /*  More from YouTube  */
        &:has(a[title="YouTube Premium"]) {
            display: none !important;
        }

        /*  Settings, Report history, Help, and Send feedback.  */
        &:has(a[title="Settings"]) {
            display: none !important;
        }
    }

    #footer {
        display: none !important;
    }

/*  Shorts  */
    ytd-guide-entry-renderer:has(a[title="Shorts"]) {
        display: none !important;
    }

    ytd-mini-guide-entry-renderer:has(a[title="Shorts"]) {
        display: none !important;
    }

    ytd-rich-section-renderer:has([is-shorts]) {
        display: none !important;
    }

    yt-tab-shape[tab-title="Shorts"] {
        display: none !important;
    }

    /*  I think reels are only used for Shorts.  */
    ytd-reel-shelf-renderer {
        display: none !important;
    }

/*  Advertisements and Sponsored Content  */
    ytd-rich-item-renderer:has(ytd-ad-slot-renderer) {
        display: none !important;
    }

    ytd-ad-slot-renderer {
        display: none !important;
    }

    ytd-companion-slot-renderer {
        display: none !important;
    }

    ytd-action-companion-ad-renderer {
        display: none !important;
    }

/*  Offers  */
    #offer-module {
        display: none !important;
    }

/*  Promotional Pop-Ups  */
    tp-yt-paper-dialog:has(#mealbar-promo-renderer) {
        display: none !important;
    }

/*  Banners  */
    ytd-banner-promo-renderer {
        display: none !important;
    }

    ytd-statement-banner-renderer {
        display: none !important;
    }

/*  Surveys  */
    ytd-rich-section-renderer:has(.ytd-inline-survey-renderer) {
        display: none !important;
    }

/*  YouTube Playables  */
    ytd-rich-section-renderer:has([title="YouTube Playables"]) {
        display: none !important;
    }

/*****************/
/*    COLOURS    */
/*****************/

    ::selection {
        background-color: var(--background-colour-active) !important;
    }

/*  Links  */
    .yt-core-attributed-string__link:hover {
        text-decoration: underline !important;
    }

    .yt-core-attributed-string--link-inherit-color
    .yt-core-attributed-string__link--call-to-action-color {
        color: var(--blue-colour) !important;
    }

    .yt-core-attributed-string--link-inherit-color {
        color: var(--foreground-colour) !important;
    }

/*  Thumbnails  */
    #channel-name.ytd-video-meta-block:hover {
        color: var(--foreground-colour) !important;
    }

    ytd-thumbnail-overlay-resume-playback-renderer[enable-refresh-signature-moments-web]
    #progress.ytd-thumbnail-overlay-resume-playback-renderer {
        background: var(--blue-colour) !important;
    }

/*  Playlist Thumbnails  */
    .yt-lockup-metadata-view-model-wiz__title {
        color: var(--foreground-colour) !important;
    }

/*  Page Header  */
    .page-header-view-model-wiz__page-header-title {
        color: var(--foreground-colour) !important;
    }

    .truncated-text-wiz {
        color: var(--foreground-colour-darker) !important;
    }

    .truncated-text-wiz__absolute-button {
        color: var(--foreground-colour-darker) !important;

        &:hover {
            color: var(--foreground-colour) !important;
        }
    }

/*  Dropdown Menu  */
    .yt-contextual-sheet-layout-wiz {
        background-color: var(--background-colour) !important;
    }

    .yt-list-item-view-model-wiz__container--tappable:hover {
        background-color: var(--background-colour-hover) !important;
    }

    .yt-list-item-view-model-wiz,
    .yt-list-item-view-model-wiz__title,
    .yt-list-item-view-model-wiz__accessory,
    .radio-shape-wiz__label-container {
        color: var(--foreground-colour) !important;
    }

/*  Side Panel  */
    ytd-compact-link-renderer {
        &:hover {
            background-color: var(--background-colour-hover) !important;
        }

        &[active] {
            background-color: var(--background-colour-active) !important;
        }
    }

/*  Buttons  */
    .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled,
    .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
        background: var(--background-colour) !important;
        color: var(--foreground-colour) !important;

        &:hover {
            background: var(--background-colour-hover) !important;
        }
    }

    .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text {
        color: var(--foreground-colour) !important;

        &:hover {
            background: var(--background-colour-hover) !important;
        }
    }

    .yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--outline {
        color: var(--foreground-colour) !important;
    }

    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
        color: var(--blue-colour) !important;

        &:hover {
            background: var(--background-colour-hover) !important;
        }
    }

    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline {
        color: var(--blue-colour) !important;
        border-color: var(--background-colour-hover) !important;

        &:hover {
            background: var(--background-colour-hover) !important;
        }
    }

    .yt-spec-icon-badge-shape,
    .yt-spec-icon-badge-shape__icon {
        color: var(--foreground-colour) !important;
    }

/*  Live Badge  */
    .badge-style-type-live-now-alternate.ytd-badge-supported-renderer {
        color: var(--background-colour) !important;

        & yt-icon.ytd-badge-supported-renderer {
            color: var(--background-colour) !important;
        }
    }

/*  Live Chat  */
    yt-live-chat-viewer-engagement-message-renderer
    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover {
        background-color: var(--background-colour) !important;
    }

    yt-icon-button.yt-live-chat-item-list-renderer {
        background-color: var(--background-colour-hover) !important;
        color: var(--foreground-colour) !important;

        &:hover {
            background-color: var(--background-colour-active) !important;
        }
    }

/*  Video Player  */
    ytd-player, #container.ytd-player {
        background: black !important;
    }

    .html5-video-player,
    .html5-video-player a:hover {
        color: var(--foreground-colour) !important;
    }

    /*  Progress Bar  */
    .ytp-progress-list {
        background: var(--background-colour-hover) !important;
    }

    .ytp-cairo-refresh-signature-moments .ytp-play-progress {
        background: var(--blue-colour) !important;
    }

    .ytp-load-progress {
        opacity: 0.4 !important;
        background: var(--blue-colour) !important;
    }

    .ytp-swatch-background-color {
        background-color: var(--blue-colour) !important;
    }

    .ytp-hover-progress-light {
        background: #0000 !important;
    }

    .ytp-heat-map-graph,
    .ytp-heat-map-hover,
    .ytp-heat-map-graph {
        fill: var(--foreground-colour) !important;
    }

    /*  Media Control Buttons  */
    .ytp-button svg path {
        fill: var(--foreground-colour) !important;
    }

    .ytp-volume-slider-handle {
        background: var(--foreground-colour) !important;

        &::before {
            background: var(--foreground-colour) !important;
        }

        &::after {
            background: var(--background-colour-hover) !important;
            z-index: -1 !important;
        }
    }

    .ytp-time-current,
    .ytp-time-separator,
    .ytp-time-duration,
    .ytp-chapter-title-content {
        color: var(--foreground-colour) !important;
    }

    .ytp-autonav-toggle-button {
        background: var(--background-colour-hover) !important;

        &::after {
            background: var(--foreground-colour) !important;
        }

        &[aria-checked="true"]::after {
            background: var(--blue-colour) !important;
        }
    }

    .ytp-cairo-refresh .ytp-chrome-controls .ytp-button[aria-pressed]::after {
        background-color: var(--blue-colour) !important;
    }

    .ytp-cairo-refresh .ytp-settings-button.ytp-hd-quality-badge::after {
        background-color: var(--blue-colour) !important;
    }

    /*  Settings Menu  */
    .ytp-popup {
        background: var(--background-colour) !important;
    }

    .ytp-panel-menu {
        color: var(--foreground-colour) !important;
        padding: 0 !important;
    }

    .ytp-menuitem:hover {
        background: var(--background-colour-hover) !important;
    }

    .ytp-menuitem-icon .ytp-menuitempath {
        fill: var(--foreground-colour) !important;
    }

    /*  Captions  */
    .ytp-caption-segment {
        background: var(--background-colour-transparent) !important;
        color: var(--foreground-colour) !important;
    }

    /*  Tooltips  */
    .ytp-tooltip-text {
        background-color: var(--background-colour-transparent) !important;
        color: var(--foreground-colour) !important;
    }

    .ytp-tooltip.ytp-preview {
        background-color: var(--background-colour-transparent) !important;
    }

    .ytp-tooltip.ytp-text-detail .ytp-tooltip-title {
        color: var(--foreground-colour) !important;
    }

    .ytp-tooltip.ytp-text-detail.ytp-preview .ytp-tooltip-text {
        background-color: transparent !important;
    }

    .ytp-fine-scrubbing-exp .ytp-preview:not(.ytp-text-detail) .ytp-tooltip-edu svg,
    .ytp-progress-bar-decoration .ytp-tooltip-title svg {
        fill: var(--foreground-colour) !important;
    }

/*  Like & Dislike Seperator  */
    .yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-start::after {
        background-color: var(--background-colour-hover) !important;
    }

/*  Author & Subscriber Count  */
    #upload-info.ytd-video-owner-renderer {
        margin-right: 8px !important;
    }

/*  Video Description  */
    #description.ytd-watch-metadata {
        background: var(--background-colour-darker) !important;
    }

/*  Video Attributes  */
    .yt-video-attributes-section-view-model__title,
    .yt-video-attribute-view-model__title {
        color: var(--foreground-colour) !important;
    }

    .yt-video-attributes-section-view-model__subtitle,
    .yt-video-attribute-view-model__subtitle,
    .yt-video-attribute-view-model__secondary-subtitle {
        color: var(--foreground-colour-darker) !important;
    }

/*  Author Comment Badge  */
    ytd-author-comment-badge-renderer[creator] {
        --ytd-author-comment-badge-background-color: var(--background-colour-hover) !important;
        --ytd-author-comment-badge-name-color: var(--foreground-colour) !important;
        --ytd-author-comment-badge-icon-color: var(--foreground-colour) !important;
    }

/*  Author Heart  */
    #hearted-border.ytd-creator-heart-renderer {
        color: var(--background-colour) !important;
    }

/*  YouTube Play Button  */
    #logo-icon path[fill]:first-child {
        fill: var(--blue-colour) !important;
    }

    .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg,
    .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg,
    .ytp-muted-autoplay-endscreen-overlay:hover .ytp-large-play-button-bg {
        fill: var(--blue-colour) !important;
    }

    .ytp-large-play-button-bg {
        fill: var(--background-colour) !important;
    }

/*  Playlist Panel  */
    ytd-playlist-panel-renderer {
        --yt-active-playlist-panel-background-color: var(--background-colour-active) !important;
        --yt-lightsource-primary-title-color: var(--foreground-colour) !important;
        --yt-lightsource-secondary-title-color: var(--foreground-colour-darker) !important;
    }

/*  Chapters Panel  */
    ytd-expandable-metadata-renderer {
        background: var(--background-colour) !important;
    }

    ytd-macro-markers-list-item-renderer {
        --ytd-macro-markers-list-item-background-color: var(--background-colour-active) !important;
        --ytd-macro-markers-list-item-title-color: var(--foreground-colour) !important;
        --ytd-macro-markers-list-item-secondary-color: var(--blue-colour) !important;
        --ytd-macro-markers-list-item-timestamp-background-color: var(--background-colour) !important;

        &:hover:not([active]) {
            background-color: var(--background-colour-hover) !important;
        }

        &[active] .yt-spec-button-shape-next--mono {
            background-color: var(--background-colour-active) !important;

            &:hover {
                background-color: var(--background-colour) !important;
            }
        }
    }

/*  Searchbox  */
    .ytSearchboxComponentHost {
        color: var(--foreground-colour) !important;
    }

    .ytSearchboxComponentInputBox {
        background-color: var(--background-colour) !important;
        border-color: var(--background-colour-hover) !important;
        box-shadow: none !important;
    }

    .ytSearchboxComponentInputBoxHasFocus {
        border-color: var(--blue-colour) !important;
    }

    .ytSearchboxComponentInput {
        color: var(--foreground-colour) !important;
    }

    .ytSearchboxComponentSearchButton {
        background-color: var(--background-colour) !important;
        color: var(--foreground-colour-darker) !important;
        border: 1px solid var(--background-colour-hover) !important;

        &:hover {
            background-color: var(--background-colour-hover) !important;
        }
    }

    .ytSearchboxComponentSuggestionsContainer {
        background-color: var(--background-colour) !important;
        border: 1px solid var(--background-colour-hover) !important;
    }

    .ytSuggestionComponentSuggestion {
        color: var(--foreground-colour) !important;
    }

    .ytSuggestionComponentSuggestionHover:hover {
        background-color: var(--background-colour-hover) !important;
        cursor: pointer !important;
    }

    .ytSuggestionComponentText {
        cursor: pointer !important;
    }

    .ytSearchboxComponentReportButton {
        color: var(--foreground-colour-darker) !important;
    }

/*  Tabs  */
    .yt-tab-shape-wiz__tab {
        color: var(--foreground-colour) !important;
    }

    .yt-tab-shape-wiz__tab--tab-selected {
        color: var(--blue-colour) !important;
    }

    .yt-tab-shape-wiz:hover .yt-tab-shape-wiz__tab-bar {
        background-color: var(--background-colour-hover) !important;
    }

    .yt-tab-group-shape-wiz__slider {
        background-color: var(--background-colour-active) !important;
    }

/*  Side Panel  */
    #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer {
        &:hover, &:focus {
            background-color: var(--background-colour-hover) !important;
        }
    }

    ytd-guide-entry-renderer[active] {
        background-color: var(--background-colour-active) !important;
    }

/*  Advertisement Skip Button  */
    .ytp-ad-skip-button-modern {
        background: var(--background-colour) !important;
        color: var(--foreground-colour) !important;

        &:hover {
            background: var(--background-colour-hover) !important;
        }
    }
}
