:root {
    --background-colour: #303446;
    --background-colour-transparent: #303446D0;
    --background-colour-dark: #292C3C;
    --background-colour-selection: #494E63;
    --background-colour-active: #4C3C56;
    --foreground-colour: #C6D0F5;
    --foreground-colour-dark: #A5ADCE;
    --red-colour: #E78284;
    --blue-colour: #8CAAEE;
    --accent-colour: #CA9EE6;
}
