:root {
    --background-colour: #24273A;
    --background-colour-transparent: #24273AC2;
    --background-colour-dark: #1e2030;
    --background-colour-selection: #494D64;
    --background-colour-active: #4B3F5B;
    --foreground-colour: #CAD3F5;
    --foreground-colour-dark: #A5ADCB;
    --red-colour: #ED8796;
    --blue-colour: #8AADF4;
    --accent-colour: #C6A0F6;
}
