:root {
    --background-colour: #222436;
    --background-colour-transparent: #222436BF;
    --background-colour-dark: #1B1C2B;
    --background-colour-selection: #2F334D;
    --background-colour-active: #2C3D73;
    --foreground-colour: #C8D3F5;
    --foreground-colour-dark: #979fbA;
    --red-colour: #F7768E;
    --blue-colour: #82AAFF;
    --accent-colour: #82AAFF;
}
